

 <%= render "shared/banner" %>

  <div class="list">
    <% @animes.each do |anime| %>
      <article class="card" style="background: url(<%= "#{anime.image}" %>); background-size: cover; background-position: center; background-repeat: no-repeat;">
        <div class="card_body">
          <%# <%= image_tag("#{anime.image}") %>
          <h1 class="card_title"><%=anime.nom%></h1>
          <p>note lecteurs <br><%= anime.note%></p>
        </div>
      </article>
    <% end %>
  </div>

<%#
<% console %>
