 <div class="container_show">
  <div class="infos">
    <div class="note_auteur">
      <div class="note">
        <i class="fa-solid fa-star" style="color: #ffffff; font-size: 6vw;"></i>
        <div class="info_n_a">
          <p>Notes des lecteur</p>
          <p><%= @anime.note %></p>
        </div>
      </div>
      <div class="auteur">
        <i class="fa-solid fa-pen" style="color: #ffffff; font-size: 6vw;"></i>
          <div class="info_n_a">
            <p>Auteur</p>
            <p><%= @anime.dessinateur %></p>
          </div>
      </div>
    </div>
    <div class="titre" style="background: url(<%= "#{@anime.image}" %>); background-size: cover; background-position: center; background-repeat: no-repeat;">
      <p><%= @anime.nom %></p>
    </div>
  </div>

  <div class="infos_complet">
    <p><%= @anime.titrevf %></p>
    <p><%= @anime.titrevo %></p>
    <p><%= @anime.editeur %></p>
    <p><%= @anime.date %></p>
  </div>
 </div>
